.align-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}

.header-icon {
  --size: 2rem;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
  transition: all 0.3s;
}

.header {
  &__top {
    @extend .align-row;
    padding: 0.6rem 3.2rem;
    background-color: var(--color-grey);
  }

  &__bottom {
    @extend .align-row;
    padding: 1.6rem 3.2rem;
    background-color: var(--color-grey-dark-1);
    color: var(--color-white);
  }

  &__nav-list {
    gap: 2rem;

    &,
    li {
      display: flex;
      align-items: center;
    }
  }

  &__nav-link {
    color: inherit;

    &:hover {
      color: var(--color-main-tint-3);
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  svg {
    @extend .header-icon;
  }

  &__icon-box {
    --size: 2rem;
    width: var(--size);
    height: var(--size);

    svg {
      width: 100%;
      height: 100%;

      path,
      circle {
        stroke: #fff;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__search-form {
    display: flex;
    align-items: center;

    input {
      padding-right: 2.2rem;
    }
  }

  &__search-icon-box {
    display: flex;
    margin-left: -2rem;

    svg {
      --size: 1.4rem;
    }
  }
}
