.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  &.center {
    text-align: center;
  }
}

.loader {
  --border-color: var(--color-grey-dark-2);
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: var(--border-width) solid var(--border-color);
  border-top-color: var(--color-main-shade-5);
  animation: rotate 1.7s linear infinite;

  &.size-large {
    --size: 50px;
    --border-width: 5px;
  }

  &.size-small {
    --size: 35px;
    --border-width: 3.4px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
