// Media queries
$breakpoint-large-desktop: 100em; // 1600px
$breakpoint-large-tablet: 1200px; // 1200px
$breakpoint-mid-tablet: 950px; // 1200px
$breakpoint-tablet: 750px; // 800px
$breakpoint-small-tablet: 650px; // 700px
$breakpoint-large-phone: 550px; // 600px
$breakpoint-mid-phone: 450px;
$breakpoint-phone: 350px; // 400px
$breakpoint-small-phone: 310px; // 320px
