.category-box {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1rem;

  &--homepage-style {
    min-height: 45rem;

    &:first-child {
      grid-column: 1 / -1;
    }
  }

  &--category-page-style {
    min-height: 35rem;
  }

  &--category-page-style &__info {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--homepage-style &__info {
    width: 20%;
    bottom: 20%;
    left: 10%;
  }

  &__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    text-align: center;
  }

  &__category-name {
    display: inline-block;
    font-size: 2rem;
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1.4rem;
  }
}
