@mixin button-normal {
  &,
  &:link,
  &:visited {
    @content;
  }
}

@mixin button-hover {
  &:hover,
  &:active {
    @content;
  }
}

.button {
  @include button-normal {
    padding: 1rem 2.4rem;
    color: var(--color-white);
    border: 1px solid transparent;
    border-radius: 0.8rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
  }

  &--small {
    @include button-normal {
      background-color: var(--color-main);
      padding: 0.6rem 2.8rem;
    }
  }

  &--full {
    @include button-normal {
      background-color: var(--color-main);
      color: var(--color-white);
    }
  }

  &--small,
  &--full {
    @include button-hover {
      background-color: var(--color-main-shade-5);
    }
  }

  &--outline {
    @include button-normal {
      border: 1px solid var(--color-main-shade-5);
      background-color: transparent;
      color: var(--color-white);
    }

    @include button-hover {
      background-color: var(--color-main);
    }
  }
}
