.wishlist {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 30rem;
  max-height: 35rem;
  overflow-y: scroll;
  background-color: var(--color-white);
  box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  transform: scale(0);
  transform-origin: top;
  transition: all 0.2s ease-in-out;
  padding-inline: 1.2rem;

  &.hidden {
    transform: scale(1);
  }
}
