.product-details {
  display: flex;
  gap: 4.8rem;

  &__images {
    display: flex;
    flex-basis: 55%;
  }

  &__main-image-box {
    &,
    img {
      width: 100%;
      border-radius: 0.8rem;
    }
  }

  &__info {
    flex: 1;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__price-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__compare-price {
    font-size: 1.6rem;
    text-decoration: line-through;
  }

  &__price {
    font-size: 2rem;
    color: var(--color-main-shade-2);
    font-weight: 600;
  }

  &__description-box {
    margin-bottom: 2.4rem;
  }

  &__cta-form {
    display: flex;
    gap: 0.5rem;

    input {
      width: 50px;
      text-align: center;
    }

    button {
      flex: 1;
    }
  }
}
